
body{
    background-color: #e4e866;
}
ul{background-color: #b79914;
    padding-left: 15px;
    width: 40%;

}

li{background-color: #75df5a;
    width: 80%;
    height: 60px;
    margin: 10px;
    text-align: center;
    line-height: 55px;
    


}
ul .ex{
    list-style: none;
}
li a{
    display: block;
    background-color: #fa1111;
    font-style: italic;
    font-size: 18px;
    width: 80%;
        height: 80%;
        margin: 10px;
    

}