body {
    background-color: rgb(8, 178, 178);
    color: #800b0b;
}

h1 {
    width: 500px;
    background-color: #ce7b7b;
}

h2 {
    color: blue;
    background-color: aqua;
    width: 200px;
    height: 50px;
}

p {

}

a {
    background-color: #ce7b7b;
    display: block;
    height: 100px;
    width: 300px;
}