*{
    padding: 0px;
    margin:0 0 8px 0;
}
body{
    padding:20px
}
.box1{
    background-color: #fbf29d;
    padding: 20px;
}
.box2 {
    background-color: #5cd3a4;
    padding: 20px;
}

body:nth-child(2){
    background-color: #ff0101;
}