* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #CCC;
	font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 10px;
	font-family: "Jacquarda Bastarda 9", sans-serif;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: '3ddumb';
	src: url(./3dumb/3Dumb.ttf);
	
}
h3{
	ind
	font-family: '3ddumb';
}
div{
	font-size: 20px;
		text-align: center;
		margin: 3px;
		font-family: "Shadows Into Light", cursive, sans-serif;
			font-weight: 400;
			font-style: normal;
		}

.wrapper {
	background-color: #FFF;
	width: 1200px;
	margin: 20px auto;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	font-size: 20px;
}

.box {
	width: 30%;
	padding: 20px;
	box-sizing: border-box;
	border: #333 3px solid;
	border-radius: 20px;
	text-align: left;
}

/*==============================*/
.box1 {
	background-color: #F90;
}

/*==============================*/
.box2 {
	background-color: #9C0;
}

/*==============================*/
.box3 {
	background-color: #09F;
}

.box1 b{
	font-family: "Entypo";
	font-weight: normal;
	font-size: 50px;
	vertical-align: middle;
	margin: 15px;
}

.box2 li{
	list-style: none;;
}
.box2 li b{
	font-family: "Entypo";
	font-weight: normal;
	font-size: 50px;
	vertical-align: middle;
	margin: 15px;
}

.box3 ul li{
	list-style: none;
}

.box3 li a{
	background-color: #63ea6a;
	display: block;
	margin-bottom: 5px;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	text-indent: 35px;
	text-align: left;
}

.box3 li a span{
	font-family: Entypo;
	font-size: 50px;
	vertical-align: middle;
	margin-right: 10px;
}

.box3 li a:hover{
	background: #e29494;
}
.box3 li a:hover span{
	color: rgb(188, 251, 1);
}

.box4 p::before{
	font-family:"Material Symbols Outlined";

	content: "drag_pan";

}
.box4 p::after{
	font-family: "Material Symbols Outlined";
	content: "home";
}



/*======字型嵌入======*/
@font-face {
	font-family: 'Entypo';
	src: url('./Entypo-webfont.ttf');
	
}

