* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #E3E1C6;
}

.wrapper {
	width: 1200px;
	background-color: #FFF;
	margin: 0 auto;
	padding: 15px;
}

.header {
	border-top: #066 20px solid;
	border-bottom: #066 20px solid;
}

.header img {
	vertical-align: bottom;
}

/* 在 box 盒子裡 */

.box{
	background: #ce7fc9;
	height: 2000px;
	padding: 5px 20px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	align-items: base;
	align-content: center;

}

/* .box div{
	float: left;
} */
.box div{
width: calc(90%/3);
box-sizing: border-box;
padding: 15px;

}

.box .b1 {
	background-color: #fb6464;
	
}

.box .b2 {
	background-color: #71e683;
	/* align-self: center; */
}

.box .b3 {
	background-color: #57aaea;
}

.box .b4 {
	background-color: #5578a6;
	/* align-self: flex-end; */

}

.box .b5 {
	background-color: #cde671;
}

.box .b6 {
	background-color: #d39aba;
	
}